.sida{
    max-width: 980px;
    margin: 0 auto;
    padding: 250px;
}
body{
    font-family: 'Abel', sans-serif;
    margin: 0;
    color: #000080;
    background-color: white;
}
nav{
    position: fixed;
    top: 0;
    background-color:beige;
    width: 100%;
    height: 150px;
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
.menu:hover {
    color: green;
}
iframe{
    width: 40%;
    margin-top: 61.44px;
    margin-right: 30px;
    display: block;
    float: right;
    border:#000080 solid 5px;
}
.Försäljningsobjekt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 50%;
    border:#000080 solid 2px;
    border-radius: 30px 0px 30px 0px;
}
.Försäljningsobjekt:hover{
    cursor: pointer;
    border:green solid 2px;
    box-shadow: 0px 0px 5px green;
}
.Försäljningsobjekt img{
    width: 50%;
    height: auto;
    border-radius: 30px 0px 0px 0px;
    border-right: #000080 solid 2px;
}
.Försäljningsobjekt p{
    margin: 0;
    font-size: 100%;
    margin-left: 5%;
}
.Försäljningsobjekt h2{
    margin: 0;
    margin-left: 5%;
}
.info{
    text-align: center;
    width: 70%;
    border:#000080 solid 2px;
    border-radius: 30px 0px 30px 0px;
    margin: auto;
    font-size: 100%;
}
span{
    text-align: center;
    font-size: 300%;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 30px;
}
.logo2 img{
    width: 35%;
    margin-left: 5%;
}
.bar{
    bottom: 0;
    left: 0;
    width: 100%;   
    background-color: beige;   
    padding: 10px;
}
aside img{
    width: 30%;
}
.menu {
    display: flex;
    text-align: center;
    align-items: center;
    height: 150px;
    justify-content: center;
    position: relative;
}

.menu img {
    width: 75%;
}

.menu h2 {
    font-size: 30px;
}
.menu:first-child{
    position: relative;
    display: inline-block;
}
.menu:first-child h2{
    margin-top: 0px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    float: none;
    top: 80px;
    width: 33%;
    justify-content: space-around;
    list-style-type: none;
}
.dropdown a{
    display: block;
}
.menu:first-child:hover .dropdown {display: block;}
